<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thehandsome.mapper.MemberMapper">

	<select id="isExistMemberByMid" parameterType="HashMap" resultType="boolean">
		SELECT
		    CASE
		        WHEN COUNT(*) = 0 THEN
		            'FALSE'
		        ELSE
		            'TRUE'
		    END AS isexist
		FROM
		    member
		WHERE
		    mid = #{mid}
   	</select>
   	
   	<select id="isValidMember" resultType="boolean">
   		SELECT
   			CASE
   				WHEN count(*) = 0 THEN
   					'FALSE'
  				ELSE
  					'TRUE'
			END AS ISVALID
  		FROM
  			member
		WHERE
			mid=#{mid} and mpassword=#{mpassword}
   	</select>

	<insert id="insertMember" statementType="CALLABLE">
		{call sp_member_insert(#{mid}, #{mpassword}, #{mname}, #{memail}, #{mtel},
		 #{mzipcode}, #{maddress1}, #{maddress2})}
	</insert>

	<resultMap type="com.thehandsome.domain.MemberVO"
		id="memberMap">
		<id property="mid" column="mid" />
		<result property="mid" column="mid" />
		<result property="mpassword" column="mpassword" />
		<result property="mname" column="mname" />
		<result property="memail" column="memail" />
		<result property="mtel" column="mtel" />
		<result property="mzipcode" column="mzipcode" />
		<result property="maddress1" column="maddress1" />
		<result property="maddress2" column="maddress2" />
		<result property="mgrade" column="mgrade" />
		<result property="mdate" column="mdate" />
		<result property="mmileage" column="mmileage" javaType="int" />
		<result property="menabled" column="menabled" />
	</resultMap>

	<select id="selectMemberInformation" resultMap="memberMap">
		SELECT
		mid, mpassword, mname, memail, mtel,
		mzipcode, maddress1, maddress2, mgrade, mdate,
		mmileage, menabled
		FROM member
		WHERE mid = #{mid}
	</select>

	<update id="updateMemberInformation">
		UPDATE member
		SET
		mpassword=#{mpassword}, mname=#{mname}, memail=#{memail}, mtel=#{mtel},
		mzipcode=#{mzipcode}, maddress1=#{maddress1}, maddress2=#{maddress2}, mgrade=#{mgrade, jdbcType=VARCHAR},
		mmileage=#{mmileage}
		WHERE
		mid=#{mid}
	</update>

	<update id="updateMember2Secession">
		UPDATE member
		SET
			menabled='F'
		WHERE
			mid=#{mid}
	</update>

	<delete id="deleteMember">
		DELETE
			member
		WHERE
			mid=#{mid}
	</delete>

</mapper>
